name: Deploy to DigitalOcean

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/americancheese/americancheese
            git fetch origin
            git reset --hard origin/main
            npm ci
            npm run build
            source .env && export $(cat .env | xargs) && npm run db:push
            pm2 restart americancheese
            echo "Deployment complete!"
