@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

/* Module Colors */
.text-project, .hover\:text-project:hover {
  color: #0891b2;
}
.bg-project {
  background-color: #0891b2;
}

.text-dashboard, .hover\:text-dashboard:hover {
  color: #9333ea; /* Purple for Dashboard */
}
.bg-dashboard {
  background-color: #9333ea;
}

.text-task, .hover\:text-task:hover {
  color: #16a34a; /* Green for Tasks */
}
.bg-task {
  background-color: #16a34a;
}

.text-expense, .hover\:text-expense:hover {
  color: #0d9488; /* Teal for Expenses */
}
.bg-expense {
  background-color: #0d9488;
}

.text-contact, .hover\:text-contact:hover {
  color: #3b82f6; /* Blue for Contacts */
}
.bg-contact {
  background-color: #3b82f6;
}

.text-material, .hover\:text-material:hover {
  color: #f97316; /* Orange for Materials */
}
.bg-material {
  background-color: #f97316;
}